name: build
on:
  workflow_call:
    inputs:
      java:
        type: string
        required: true
      cache:
        type: boolean
        default: true
        required: false

      gradle_tasks:
        type: string
        required: false

      reviewdog:
        type: string
        required: false

jobs:
  build:
    if: ${{ !contains(github.event.head_commit.message, '[ci skip build]') && github.event.sender.login != 'constellation-manager[bot]'}}
    name: ${{ inputs.gradle_tasks }} build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 2
      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5.0.0

      - name: Setup JDK ${{ inputs.java }}
        uses: actions/setup-java@v4.4.0
        with:
          distribution: "microsoft"
          java-version: ${{ inputs.java }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-disabled: ${{ !inputs.cache }}

      - name: ${{ inputs.gradle_tasks }} build
        run: |
          ./gradlew ${{ inputs.gradle_tasks }} build publishToMavenLocal

      - name: capture build artifacts
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Artifacts
          path: ~/.m2/repository/

      - name: Set up reviewdog
        if: ${{ inputs.reviewdog != '' }}
        uses: reviewdog/action-setup@v1
      - name: Upload spotbugs report
        if: ${{ inputs.reviewdog != '' }}
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ${{ inputs.reviewdog }}
