name: run mc tests
on:
  workflow_call:
    inputs:
      java:
        type: string
        required: true
      cache:
        type: boolean
        default: true
        required: false

      client_task:
        type: string
        required: false
      server_task:
        type: string
        required: false

jobs:
  client_test:
    name: Client Test
    if: ${{ inputs.client_task != '' && !contains(github.event.head_commit.message, '[ci skip test]') && github.event.sender.login != 'constellation-manager[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.7
      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v3.5.0

      - name: Setup JDK ${{ inputs.java }} with cache
        if: ${{ inputs.cache }}
        uses: actions/setup-java@v4.4.0
        with:
          distribution: "microsoft"
          java-version: ${{ inputs.java }}
          cache: gradle
      - name: Setup JDK ${{ inputs.java }}
        if: ${{ !inputs.cache }}
        uses: actions/setup-java@v4.4.0
        with:
          distribution: "microsoft"
          java-version: ${{ inputs.java }}

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Run testmod
        uses: modmuss50/xvfb-action@v1
        with:
          run: ./gradlew ${{ inputs.client_task }} --stacktrace --warning-mode=fail
      - uses: actions/upload-artifact@v5.0.0
        with:
          name: Test Screenshots
          path: run/screenshots

  server_test:
    name: Server Test
    if: ${{ inputs.server_task != '' && !contains(github.event.head_commit.message, '[ci skip test]') && github.event.sender.login != 'constellation-manager[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.7
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v3.5.0

      - name: Setup JDK ${{ inputs.java }} with cache
        if: ${{ inputs.cache }}
        uses: actions/setup-java@v4.4.0
        with:
          distribution: "microsoft"
          java-version: ${{ inputs.java }}
          cache: gradle
      - name: Setup JDK ${{ inputs.java }}
        if: ${{ !inputs.cache }}
        uses: actions/setup-java@v4.4.0
        with:
          distribution: "microsoft"
          java-version: ${{ inputs.java }}

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew
      - name: Run testmod
        run: ./gradlew ${{ inputs.server_task }} --stacktrace --warning-mode=fail
