
name: apply spotless
on:
  workflow_call:
    inputs:
      java:
        type: string
        required: true

jobs:
  spotless:
    if: ${{ !contains(github.event.head_commit.message, '[ci skip spotless]') }}
    name: Apply Spotless
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 2
      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5.0.0

      - name: Setup JDK ${{ inputs.java }}
        uses: actions/setup-java@v4.4.0
        with:
          distribution: "microsoft"
          java-version: ${{ inputs.java }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: apply spotless
        run: |
          ./gradlew spotlessApply

      - name: commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Apply Spotless
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
